/* Scss Document */
body{
    height: 100vh;
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    background-color: rgb(28,39,54);
}
h1{
    color: #ffffff;
    font-size: 3rem
}
.container{
    text-align: center;
}
input{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    background: #FFFFFF;
    width: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 30px;
    border: none;
    color: rgb(28,39,54);
    cursor: pointer;
    font-size: 1.2rem;
    transition: width 0.5s ease;
}
input:focus{
    outline: none;  
}

img{
    width:50px;
    margin: 5px 0 0 3px;
    position:absolute;
    cursor: pointer;
}
p{
    color: #E1E1E1;
    text-transform: uppercase;
    text-align: left;
    margin-left: 18px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s;
}
.serach-contain:before{
    content: "";
    border-radius: 50%;
    width:50px;
    height:50px;
    border:4px solid #FFFFFF;
    position: absolute;
    animation: grow 1s 3;
}
@keyframes grow{
    from{
        transform: scale(1);
    }
    
    to{
        transform: scale(1.5);
        opacity: 0;
    }
}

